# Preparing Infiltration Dataset

In [96]:
import pandas as pd

df_wednesday3 = pd.read_csv("/users/mik2002/aws-dataset/Wednesday-28-02-2018_TrafficForML_CICFlowMeter.csv")
df_thursday4 = pd.read_csv("/users/mik2002/aws-dataset/Thursday-01-03-2018_TrafficForML_CICFlowMeter.csv")

/tmp/ipykernel_244818/1449694950.py:3: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df_wednesday3 = pd.read_csv("/users/mik2002/aws-dataset/Wednesday-28-02-2018_TrafficForML_CICFlowMeter.csv")
/tmp/ipykernel_244818/1449694950.py:4: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df_thursday4 = pd.read_csv("/users/mik2002/aws-dataset/Thursday-01-03-2018_TrafficForML_CICFlowMeter.csv")

In [97]:
df_dataset = pd.concat([df_thursday4,
                        df_wednesday3], axis=0, ignore_index=True)
df_dataset["Label"].value_counts()

Label
Benign           782237
Infilteration    161934
Label                58
Name: count, dtype: int64

Removing row with erroneous 'Label' label

In [98]:
# Remove erroneous 'Label' row
df_dataset.drop(df_dataset.loc[df_dataset["Label"] == "Label"].index, inplace=True)

In [99]:
df_dataset["Label"].value_counts()

Label
Benign           782237
Infilteration    161934
Name: count, dtype: int64

In [100]:
# Impostazione dell'opzione per mostrare tutte le colonne
pd.set_option('display.max_columns', None)

# Visualizzazione delle prime righe del DataFrame con tutte le colonne
df_dataset.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,Fwd Pkt Len Std,Bwd Pkt Len Max,Bwd Pkt Len Min,Bwd Pkt Len Mean,Bwd Pkt Len Std,Flow Byts/s,Flow Pkts/s,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Tot,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Tot,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min,Fwd PSH Flags,Bwd PSH Flags,Fwd URG Flags,Bwd URG Flags,Fwd Header Len,Bwd Header Len,Fwd Pkts/s,Bwd Pkts/s,Pkt Len Min,Pkt Len Max,Pkt Len Mean,Pkt Len Std,Pkt Len Var,FIN Flag Cnt,SYN Flag Cnt,RST Flag Cnt,PSH Flag Cnt,ACK Flag Cnt,URG Flag Cnt,CWE Flag Count,ECE Flag Cnt,Down/Up Ratio,Pkt Size Avg,Fwd Seg Size Avg,Bwd Seg Size Avg,Fwd Byts/b Avg,Fwd Pkts/b Avg,Fwd Blk Rate Avg,Bwd Byts/b Avg,Bwd Pkts/b Avg,Bwd Blk Rate Avg,Subflow Fwd Pkts,Subflow Fwd Byts,Subflow Bwd Pkts,Subflow Bwd Byts,Init Fwd Win Byts,Init Bwd Win Byts,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0,0,01/03/2018 08:17:11,115307855,5,0,0,0,0,0,0,0,0,0,0,0,0,0.04336218,28800000,32400000,61000000,812396,115000000,28800000,32400000,61000000,812396,0,0,0,0,0,0,0,0,0,0,0,0.04336218,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0,-1,-1,0,0,1812348,0,1812348,1812348,56700000,6010057.622,61000000,52500000,Benign
1,0,0,01/03/2018 08:20:07,60997457,2,0,0,0,0,0,0,0,0,0,0,0,0,0.032788252,61000000,0,61000000,61000000,61000000,61000000,0,61000000,61000000,0,0,0,0,0,0,0,0,0,0,0,0.032788252,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,-1,-1,0,0,0,0,0,0,61000000,0,61000000,61000000,Benign
2,67,17,01/03/2018 08:17:18,61149019,5,0,1500,0,300,300,300,0,0,0,0,0,24.53023817,0.081767461,15300000,12800000,32600000,3530939,61100000,15300000,12800000,32600000,3530939,0,0,0,0,0,0,0,0,0,40,0,0.081767461,0,300,300,300,0,0,0,0,0,0,0,0,0,0,0,360,300,0,0,0,0,0,0,0,5,1500,0,0,-1,-1,4,8,3530939,0,3530939,3530939,19200000,12500000,32600000,7999725,Benign
3,0,0,01/03/2018 08:22:09,60997555,2,0,0,0,0,0,0,0,0,0,0,0,0,0.032788199,61000000,0,61000000,61000000,61000000,61000000,0,61000000,61000000,0,0,0,0,0,0,0,0,0,0,0,0.032788199,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,-1,-1,0,0,0,0,0,0,61000000,0,61000000,61000000,Benign
4,0,0,01/03/2018 08:24:11,61997503,3,0,0,0,0,0,0,0,0,0,0,0,0,0.048389046,31000000,42400000,61000000,999909,62000000,31000000,42400000,61000000,999909,0,0,0,0,0,0,0,0,0,0,0,0.048389046,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,-1,-1,0,0,999909,0,999909,999909,61000000,0,61000000,61000000,Benign

In [101]:
df_dataset.replace(to_replace=["Infilteration",], value="Infiltration", inplace=True)
df_dataset["Label"].value_counts()

Label
Benign          782237
Infiltration    161934
Name: count, dtype: int64

In [102]:
df_dataset# dropping missing or duplicate values
print("Before drop duplicate and missing values",df_dataset.shape)
df_dataset.drop_duplicates(inplace=True)
print("After drop duplicate values",df_dataset.shape)
df_dataset.dropna(inplace=True)
print("After drop missing values",df_dataset.shape)

Before drop duplicate and missing values (944171, 80)
After drop duplicate values (938444, 80)
After drop missing values (933835, 80)

In [103]:
df_dataset["Label"].value_counts()

Label
Benign          772775
Infiltration    161060
Name: count, dtype: int64

In [104]:
# Forcing them to be strings
df_dataset = df_dataset.astype({"Protocol": str})
df_dataset = pd.get_dummies(df_dataset, columns=['Protocol'], drop_first=True)
df_dataset["Protocol_17"] = df_dataset["Protocol_17"].astype(int)
df_dataset["Protocol_6"] = df_dataset["Protocol_6"].astype(int)
# making Label column the last column again
df_dataset.insert(len(df_dataset.columns)-1, 'Label', df_dataset.pop('Label'))

In [105]:
columns_to_drop = [
    'Dst Port',
    'Timestamp',
    'Fwd PSH Flags',
    'Bwd PSH Flags',
    'Fwd URG Flags',
    'Bwd URG Flags',
    'Flow Byts/s',  
    'Flow Pkts/s',
    'Fwd Byts/b Avg',
    'Fwd Pkts/b Avg',
    'Fwd Blk Rate Avg',
    'Bwd Byts/b Avg',
    'Bwd Pkts/b Avg',
    'CWE Flag Count',
    'Bwd Blk Rate Avg'  
]

In [106]:
df_dataset[columns_to_drop].value_counts()

Dst Port  Timestamp            Fwd PSH Flags  Bwd PSH Flags  Fwd URG Flags  Bwd URG Flags  Flow Byts/s  Flow Pkts/s      Fwd Byts/b Avg  Fwd Pkts/b Avg  Fwd Blk Rate Avg  Bwd Byts/b Avg  Bwd Pkts/b Avg  CWE Flag Count  Bwd Blk Rate Avg
443       28/02/2018 11:18:45  1              0              0              0              77000000     2000000          0               0               0                 0               0               0               0                   4
          28/02/2018 11:44:20  1              0              0              0              inf          inf              0               0               0                 0               0               0               0                   4
          28/02/2018 09:03:57  1              0              0              0              89000000     3000000          0               0               0                 0               0               0               0                   4
37638     28/02/2018 02:32:16  0              0              0              0              0.0          6.089828         0               0               0                 0               0               0               0                   4
443       28/02/2018 11:54:25  1              0              0              0              31000000.0   2000000.0        0               0               0                 0               0               0               0                   4
                                                                                                                                                                                                                                              ..
          01/03/2018 02:49:38  1              0              0              0              3.166264     0.112412         0               0               0                 0               0               0               0                   1
          01/03/2018 02:49:39  0              0              0              0              10530.91558  46.487267        0               0               0                 0               0               0               0                   1
          01/03/2018 02:49:40  1              0              0              0              18.070652    0.123446         0               0               0                 0               0               0               0                   1
          01/03/2018 02:49:42  0              0              0              0              0.0          41666.66667      0               0               0                 0               0               0               0                   1
9999      28/02/2018 11:59:12  0              0              0              0              0            8097.1659919028  0               0               0                 0               0               0               0                   1
Name: count, Length: 923201, dtype: int64

View the percentages of dataset

In [107]:
count_labels = df_dataset["Label"].value_counts()
# Calculate the number of Benign and Malicious labels.
benign_count = count_labels.get("Benign", 0)
infiltration_count = count_labels.get("Infiltration", 0)

# Calculate percentages
total_count = benign_count + infiltration_count
benign_percent = (benign_count / total_count) * 100
infiltration_percent = (infiltration_count / total_count) * 100

# Print the percentages
print(f"Percentage of Benign labels: {benign_percent:.2f}%")
print(f"Percentage of Infiltration labels: {infiltration_percent:.2f}%")

Percentage of Benign labels: 82.75%
Percentage of Infiltration labels: 17.25%

In [108]:
df_dataset.drop(columns=columns_to_drop, inplace=True)
df_dataset.shape

(933835, 66)

In [109]:
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 933835 entries, 0 to 944228
Data columns (total 66 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Flow Duration      933835 non-null  object
 1   Tot Fwd Pkts       933835 non-null  object
 2   Tot Bwd Pkts       933835 non-null  object
 3   TotLen Fwd Pkts    933835 non-null  object
 4   TotLen Bwd Pkts    933835 non-null  object
 5   Fwd Pkt Len Max    933835 non-null  object
 6   Fwd Pkt Len Min    933835 non-null  object
 7   Fwd Pkt Len Mean   933835 non-null  object
 8   Fwd Pkt Len Std    933835 non-null  object
 9   Bwd Pkt Len Max    933835 non-null  object
 10  Bwd Pkt Len Min    933835 non-null  object
 11  Bwd Pkt Len Mean   933835 non-null  object
 12  Bwd Pkt Len Std    933835 non-null  object
 13  Flow IAT Mean      933835 non-null  object
 14  Flow IAT Std       933835 non-null  object
 15  Flow IAT Max       933835 non-null  object
 16  Flow IAT Min       933835 non-null  object
 17  Fwd IAT Tot        933835 non-null  object
 18  Fwd IAT Mean       933835 non-null  object
 19  Fwd IAT Std        933835 non-null  object
 20  Fwd IAT Max        933835 non-null  object
 21  Fwd IAT Min        933835 non-null  object
 22  Bwd IAT Tot        933835 non-null  object
 23  Bwd IAT Mean       933835 non-null  object
 24  Bwd IAT Std        933835 non-null  object
 25  Bwd IAT Max        933835 non-null  object
 26  Bwd IAT Min        933835 non-null  object
 27  Fwd Header Len     933835 non-null  object
 28  Bwd Header Len     933835 non-null  object
 29  Fwd Pkts/s         933835 non-null  object
 30  Bwd Pkts/s         933835 non-null  object
 31  Pkt Len Min        933835 non-null  object
 32  Pkt Len Max        933835 non-null  object
 33  Pkt Len Mean       933835 non-null  object
 34  Pkt Len Std        933835 non-null  object
 35  Pkt Len Var        933835 non-null  object
 36  FIN Flag Cnt       933835 non-null  object
 37  SYN Flag Cnt       933835 non-null  object
 38  RST Flag Cnt       933835 non-null  object
 39  PSH Flag Cnt       933835 non-null  object
 40  ACK Flag Cnt       933835 non-null  object
 41  URG Flag Cnt       933835 non-null  object
 42  ECE Flag Cnt       933835 non-null  object
 43  Down/Up Ratio      933835 non-null  object
 44  Pkt Size Avg       933835 non-null  object
 45  Fwd Seg Size Avg   933835 non-null  object
 46  Bwd Seg Size Avg   933835 non-null  object
 47  Subflow Fwd Pkts   933835 non-null  object
 48  Subflow Fwd Byts   933835 non-null  object
 49  Subflow Bwd Pkts   933835 non-null  object
 50  Subflow Bwd Byts   933835 non-null  object
 51  Init Fwd Win Byts  933835 non-null  object
 52  Init Bwd Win Byts  933835 non-null  object
 53  Fwd Act Data Pkts  933835 non-null  object
 54  Fwd Seg Size Min   933835 non-null  object
 55  Active Mean        933835 non-null  object
 56  Active Std         933835 non-null  object
 57  Active Max         933835 non-null  object
 58  Active Min         933835 non-null  object
 59  Idle Mean          933835 non-null  object
 60  Idle Std           933835 non-null  object
 61  Idle Max           933835 non-null  object
 62  Idle Min           933835 non-null  object
 63  Protocol_17        933835 non-null  int64
 64  Protocol_6         933835 non-null  int64
 65  Label              933835 non-null  object
dtypes: int64(2), object(64)
memory usage: 477.3+ MB

In [110]:
df_dataset.to_csv("/users/mik2002/som/dataset-processed/processed_infiltration_dataset.csv", index=False)